@import "../../assets/styles/colors.scss";
@import "../../assets/styles/mixins.scss";

.height-page {
  height: 83vh;
}
.forgot-password-page {
  .name {
    margin-top: 4rem;
  }
  button {
    @include button-style(
      $bg-color: $dark-blue-color,
      $color: $white-color,
      $padding: 0.7rem 1.4rem,
      $radius: 0,
      $border: none,
      $margin: 2rem 0 0 0,
      $font-size: 0.8rem,
      $box-shadow: $main-box-shadow-dark
    );
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .forgot-password-page {
    padding: 0 2rem;
  }
  .forgot-password-page .name {
    font-size: 14px;
  }
  .forgot-password-page {
    .text-field {
      width: 100%;
      input {
        width: 100% !important;
      }
    }
  }
}
