$white-color: #ffffff;
$gray-color: #f1f4f6;
$second-gray-color: #bababa;
$dark-blue-color: #024a96;
$light-blue-color: #a9bfd6;
$orange-color: #f39500;
$sky-blue-color: #06b1d5;
$black-color: #000;

$main-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$main-box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$main-box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;
